*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke; /*#4a2343*/
    color: black;
    height: 100vh;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    background-color: #592a51;
    width: 25%;
    height: 100%;
    float: left;
}
img{
    height: 15vh;
    width: 15vh;
}
.gob{
    margin-top: 1vh;
    order: 1;
}
.centro{
    margin-top: 1vh;
    order: 3;

}
.abajo{
    order: 2;
    margin-top: 80vh;
}
.usuario_contro{
    order: 4;
    margin-top: -50vh;
    margin-bottom: 55vh;
    margin-right: 1vh;
    text-align: right;
    width: 100%;
}
.nombre_centro{
    order: 5;
    margin-top: -45vh;
    margin-bottom: 45vh;
    margin-right: 1vh;
    text-align: right;
    width: 100%;
}
@media only screen and (min-width: 1433px) and (max-width: 1585px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 22.5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-top: 22.5vh;margin-right: 1vh;
        text-align: right;
    }
    
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 22.5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        margin-left: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 22.5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 734px) and (max-width: 1058px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 50vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        margin-left: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 22.5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 577px) and (max-width: 734px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 50vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        margin-left: 2vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 22.5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    
}

@media only screen and (max-width:576px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 12vh;
        width: 12vh;
    }
    .gob{
        margin-top: 3vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 55vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        margin-left: 2vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 22.5vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
}