*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff; /*#4a2343*/
    color: black;
}

section{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

img{
    width: 100%;
    margin: 1em 0;
    border-radius: 100%;
}

h1{
    margin-bottom: 0.9em;
    font-size: 50px;
    margin-top: -5%;
}

#loginbox{
    align-self: center;
    width: 38%;
    margin-top: 9%;
}

legend{
    text-align: left;
    align-self: center;
    margin-left: 4%;
    width: 20%;
}

#loginbox input{
    margin-bottom: 20px;
    padding: 0.8em;
}

#loginbox input::-webkit-input-placeholder{
    font-size: 18px;
}

input{
    width: 70%;
}

input[type=submit]{
    width: 100px;
}

fieldset{
    padding-bottom: 25px;
}


@media only screen and (max-width:725px){
    
    #loginbox{
        width: 75%;
    }
}
@media only screen and (max-width:576px){
    
    #loginbox{
        width: 75%;
    }
}