*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke; /*#4a2343*/
    color: black;
    height: 100vh;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    background-color: #592a51;
    position: fixed;
    width: 20%;
    height: 100%;
    float: left;
}
#menu{
    order :3;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#menu>a{

    font-size: 3vh; 
    color: white;
    text-decoration: none;
    justify-self: right;
    margin-right: 2%;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 20%;
    right: 0.1%;
}
img{
    height: 11vh;
    width: 11vh;
}
.gob{
    margin-top: 1vh;
    order: 1;
}
.centro{
    margin-top: 1vh;
    margin-right: 0.6vh;
    order: 2;
}
.abajo{
    padding-bottom: 10%;
    order: 4;
    align-self: flex-end;
}

@media only screen and (min-width: 1433px) and (max-width: 1585px){
    section{
        width: 20%;
    }
    main{
        left: 20%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    #menu>a{
        font-size: 3vh; 
        justify-self: center;

    }
    
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){
    section{
        width: 25%;
    }
    main{
        left: 25%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    #menu>a{
        font-size: 3vh; 
        justify-self: center;

    }
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){
    section{
        width: 25%;
    }
    main{
        left: 25%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    #menu>a{
        font-size: 3vh; 
        justify-self: center;

    }
    
}

@media only screen and (min-width: 734px) and (max-width: 1058px){
    section{
        width: 25%;
    }
    main{
        left: 25%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    #menu>a{
        width: 100%;
        font-size: 2.3vh; 
        text-align: center;

    }
    
}

@media only screen and (min-width: 577px) and (max-width: 734px){
    section{
        width: 25%;
    }
    main{
        left: 25%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    #menu>a{
        width: 100%;
        font-size: 1.8vh; 
        text-align: center;
        margin-right: 0%;

    }
    
}

@media only screen and (max-width:576px){
    section{
        position: fixed;
        width: 100%;
        height: 20%;
        float: none;
        z-index: 3;
    }
    main{
        position: absolute;
        top: 22%;
        left: 0;
        right: 0;
    }
    img{
        height: 5vh;
        width: 5vh;
    }
    #menu{
        width: 64%;
        height: 90%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #menu>a{
        width: 100%;
        font-size: 1.4vh; 
        text-align: center;

    }

}
