*{
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke; /*#4a2343*/
    color: black;
    height: 100vh;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    background-color: #592a51;
    position: fixed;
    width: 20%;
    height: 100%;
    float: left;
}
#menu{
    order :3;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#menu>a{
    font-size: 3vh; 
    color: white;
    text-decoration: none;
    justify-self: right;
    margin-right: 2%;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 20%;
    right: 0.1%;
}
img{
    height: 11vh;
    width: 11vh;
}
.gob{
    margin-top: 1vh;
    order: 1;
}
.centro{
    margin-top: 1vh;
    margin-right: 0.6vh;
    order: 2;
}
.abajo{
    padding-bottom: 10%;
    order: 4;
    align-self: flex-end;
}
.atras{
    order: 3;
    margin-top: 15%;
    margin-left: 15%;
    width: 70%;
    font-size: 2vh;
    height: 3vh;
}
@media only screen and (min-width: 1433px) and (max-width: 1585px){
    
    main{
        left: 20%;
    }
    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        margin-right: 0vh;
        order: 2;
    
    }
    .abajo{
        order: 3;
        margin-top: 60vh;
    }
    
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){
    
    main{
        left: 20%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    .gob{

        order: 1;
    }
    .centro{
        margin-left: 5%;
        margin-right: 0vh;
        order: 2;
    
    }
    .abajo{
        order: 3;
        margin-top: 75vh;
    }
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){
    
    main{
        left: 20%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    .gob{

        order: 1;
    }
    .centro{
        margin-left: 5%;
        margin-right: 0vh;
        order: 2;
    
    }
    .abajo{
        order: 3;
        margin-top: 70vh;
    }
    
}

@media only screen and (min-width: 734px) and (max-width: 1058px){
    
    main{
        left: 20%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    .gob{
        order: 1;
    }
    .centro{
        margin-right: 0vh;
        order: 2;
    
    }
    .abajo{
        order: 3;
        margin-top: 60vh;
    }
    
    
}

@media only screen and (min-width: 577px) and (max-width: 734px){
    
    main{
        left: 20%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        margin-right: 0vh;
        order: 2;
    
    }
    .abajo{
        order: 3;
        margin-top: 60vh;
    }
    
    
}

@media only screen and (max-width:576px){
    main{
        left: 20%;
    }
    img{
        height: 10vh;
        width: 10vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        margin-right: 0vh;
        order: 2;
    
    }
    .abajo{
        order: 3;
        margin-top: 60vh;
    }
}