@import 'estilo_fijo.css';

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    order: 1;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#editarCentro{
    margin-top: 15vh;
    order: 2;
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    font-size: 3vh;
}
#primero{
    justify-self: right;
    margin-bottom: 4vh;
}
#segundo{
    margin-left: 2vh;
    justify-self: left;
    grid-column-start: 2;
}
#nombre{
    font-size: 2vh;
}
#centro{
    font-size: 2vh;
}
#editarCentro>input[type="submit"]{
    width: 25%;
    height: 2.5vh;
    font-size: 2vh;
    margin-left: 37.5%;
    grid-column: 1/3;
}
.atras{
    order: 3;
    text-align: center;
}
.atras>input{
    margin-top: 45vh;
    font-size: 2.5vh;
    height: 3vh;
    width: 60%;
}

@media only screen and (min-width: 1433px) and (max-width: 1585px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    

    #editarCentro{
        margin-top: 15vh;
        order: 2;
        display: grid;
        grid-column: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        font-size: 3vh;
    }
    #primero{
        justify-self: right;
        margin-bottom: 4vh;
    }
    #segundo{
        margin-left: 2vh;
        justify-self: left;
        grid-column-start: 2;
    }
    #nombre{
        font-size: 2vh;
    }
    #centro{
        font-size: 2vh;
    }
    #editarCentro>input[type="submit"]{
        width: 25%;
        height: 2.5vh;
        font-size: 2vh;
        margin-left: 37.5%;
        grid-column: 1/3;
    }
    .atras{
        order: 3;
        text-align: center;
    }
    .atras>input{
        margin-top: 40vh;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    
    
    #editarCentro{
        margin-top: 15vh;
        order: 2;
        display: grid;
        grid-column: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        font-size: 3vh;
    }
    #primero{
        justify-self: right;
        margin-bottom: 4vh;
    }
    #segundo{
        margin-left: 2vh;
        justify-self: left;
        grid-column-start: 2;
    }
    #nombre{
        font-size: 2vh;
    }
    #centro{
        font-size: 2vh;
    }
    #editarCentro>input[type="submit"]{
        width: 25%;
        height: 2.5vh;
        font-size: 2vh;
        margin-left: 37.5%;
        grid-column: 1/3;
    }
    .atras{
        order: 3;
        text-align: center;
    }
    .atras>input{
        margin-top: 40vh;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    
    
    #editarCentro{
        margin-top: 15vh;
        order: 2;
        display: grid;
        grid-column: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        font-size: 3vh;
    }
    #primero{
        justify-self: right;
        margin-bottom: 4vh;
    }
    #segundo{
        margin-left: 2vh;
        justify-self: left;
        grid-column-start: 2;
    }
    #nombre{
        font-size: 2vh;
    }
    #centro{
        font-size: 2vh;
    }
    #editarCentro>input[type="submit"]{
        width: 25%;
        height: 2.5vh;
        font-size: 2vh;
        margin-left: 37.5%;
        grid-column: 1/3;
    }
    .atras{
        order: 3;
        text-align: center;
    }
    .atras>input{
        margin-top: 40vh;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    
}

@media only screen and (min-width: 734px) and (max-width: 1058px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }
    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 3.5vh;
        height: 5vh;
    }
    img{
        height: 12vh;
        width: 12vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 55vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }

    #editarCentro{
        margin-top: 15vh;
        order: 2;
        display: grid;
        grid-column: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        font-size: 3vh;
    }
    #primero{
        justify-self: right;
        margin-bottom: 4vh;
    }
    #segundo{
        margin-left: 2vh;
        justify-self: left;
        grid-column-start: 2;
    }
    #nombre{
        font-size: 2vh;
    }
    #centro{
        font-size: 2vh;
    }
    #editarCentro>input[type="submit"]{
        width: 25%;
        height: 2.5vh;
        font-size: 2vh;
        margin-left: 37.5%;
        grid-column: 1/3;
    }
    .atras{
        order: 3;
        text-align: center;
    }
    .atras>input{
        margin-top: 45vh;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    
    
}

@media only screen and (min-width: 577px) and (max-width: 734px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }
    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 3.5vh;
        height: 5vh;
    }
    img{
        height: 12vh;
        width: 12vh;
    }
    .gob{
        margin-top: 3vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 55vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }

    #editarCentro{
        margin-top: 15vh;
        order: 2;
        display: grid;
        grid-column: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        font-size: 3vh;
    }
    #primero{
        justify-self: right;
        margin-bottom: 4vh;
    }
    #segundo{
        margin-left: 2vh;
        justify-self: left;
        grid-column-start: 2;
    }
    #nombre{
        font-size: 2vh;
    }
    #centro{
        font-size: 2vh;
    }
    #editarCentro>input[type="submit"]{
        width: 25%;
        height: 2.5vh;
        font-size: 2vh;
        margin-left: 37.5%;
        grid-column: 1/3;
    }
    .atras{
        order: 3;
        text-align: center;
    }
    .atras>input{
        margin-top: 40vh;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    
    
}

@media only screen and (max-width:576px){


    #editarCentro{
        margin-top: 15vh;
        order: 2;
        display: grid;
        grid-column: 1fr 1fr;
        grid-row: 1fr 1fr 1fr;
        font-size: 3vh;
    }
    #primero{
        justify-self: right;
        margin-bottom: 4vh;
    }
    #segundo{
        margin-left: 2vh;
        justify-self: left;
        grid-column-start: 2;
    }
    #nombre{
        font-size: 2vh;
    }
    #centro{
        font-size: 2vh;
    }
    #editarCentro>input[type="submit"]{
        width: 25%;
        height: 2.5vh;
        font-size: 2vh;
        margin-left: 37.5%;
        grid-column: 1/3;
    }
    .atras{
        order: 3;
        text-align: center;
    }
    .atras>input{
        margin-top: 40vh;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    
}