@import 'estilo_fijo.css';

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    order: 1;
    width: 100%;
    text-align: center;
    margin-top: 15vh;
}
#formulario{
    margin-top: 10vh;
    order: 2;
 
}
.atras{
    align-self: center;
    order: 3;
    width: 40%;
    margin-top: 15vh;
    height: 3vh;
}

form{
    display: grid;
    display: grid;
    padding-top: 5vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 5fr 1fr 5fr;
    font-size: 3vh;
}
form>label{
    font-size: 3vh;
}
form>input{
    height: 1vh;
}
form>input[type="submit"]{
    width: 100%;
    grid-column-start: 2;
    height: 3vh;
    margin-top: 5vh;
}
.segundos{
    grid-column-start: 3;
}
form>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1433px) and (max-width: 1585px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    

    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .addPreguntas{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 15vh;
        width: 75%;
        font-size: 3.5vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .addPreguntas{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 20vh;
        width: 90%;
        font-size: 3.5vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }

    img{
        height: 15vh;
        width: 15vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 65vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }
    
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        margin-left: 2vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        margin-left: 2vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .addPreguntas{
        margin-top: 5vh;
        margin-left: 2vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 20vh;
        width: 90%;
        font-size: 3.5vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 734px) and (max-width: 1058px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }
    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 3.5vh;
        height: 5vh;
    }
    img{
        height: 12vh;
        width: 12vh;
    }
    .gob{
        margin-top: 1vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 55vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }

    form{
        display: grid;
        display: grid;
        padding-top: 2vh;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        font-size: 3vh;
    }
    form>label{
        font-size: 3vh;
    }
    form>input{
        height: 1vh;
    }
    form>input[type="submit"]{
        width: 75%;
        grid-column-start: 1;
        justify-self: center;
        height: 3vh;
        margin-top: 5vh;
        margin-left: 2vh;
    }
    .segundos{
        margin-top: 2vh;
        grid-column-start: 1;
        justify-self: center;
    }
    .primeros{
        margin-top: 2vh;
        justify-self: center;
    }
    .atras{
        margin-top: 10vh;
        width: 90%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
}

@media only screen and (min-width: 577px) and (max-width: 734px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }
    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 3.5vh;
        height: 5vh;
    }
    img{
        height: 12vh;
        width: 12vh;
    }
    .gob{
        margin-top: 3vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 55vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }

    form{
        display: grid;
        display: grid;
        padding-top: 2vh;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        font-size: 3vh;
    }
    form>label{
        font-size: 3vh;
    }
    form>input{
        height: 1vh;
    }
    form>input[type="submit"]{
        width: 90%;
        grid-column-start: 1;
        height: 3vh;
        margin-top: 5vh;
        margin-left: 2vh;
    }
    .segundos{
        margin-top: 2vh;
        grid-column-start: 1;
        justify-self: center;
    }
    .primeros{
        margin-top: 2vh;
        justify-self: center;
    }
    .atras{
        margin-top: 10vh;
        width: 90%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
}

@media only screen and (max-width:576px){
    
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;
        background-color: #592a51;
        width: 25%;
        height: 100%;
        float: left;
    }
    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 3.5vh;
        height: 5vh;
    }
    img{
        height: 12vh;
        width: 12vh;
    }
    .gob{
        margin-top: 3vh;
        order: 1;
    }
    .centro{
        margin-top: 1vh;
        order: 2;

    }
    .abajo{
        order: 3;
        margin-top: 55vh;
    }
    .usuario_contro{
        order: 4;
        margin-right: 1vh;
        text-align: right;
    }
    .nombre_centro{
        order: 5;
        margin-right: 1vh;
        text-align: right;
    }

    form{
        display: grid;
        display: grid;
        padding-top: 2vh;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        font-size: 3vh;
    }
    form>label{
        font-size: 3vh;
    }
    form>input{
        height: 1vh;
    }
    form>input[type="submit"]{
        width: 90%;
        grid-column-start: 1;
        height: 3vh;
        margin-top: 5vh;
        margin-left: 2vh;
    }
    .segundos{
        margin-top: 2vh;
        grid-column-start: 1;
        justify-self: center;
    }
    .primeros{
        margin-top: 2vh;
        justify-self: center;
    }
    .atras{
        margin-top: 10vh;
        width: 90%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}