@import 'estilo_fijo.css';


.titulo{
    padding-top: 10vh;
    text-align: center;
    padding-bottom: 5%;
    font-size: 5vh;
}

.alumnos{
    display: flex;
    flex-direction: column;
    margin:0 1em;
}

table{
    border: 1px black solid;
}

tr{
    border-bottom: 1px black solid;
}

table, tr{
    border-collapse: collapse;
}

td{
    display:flex;
    justify-content: space-between;
    align-content: center;
}

th:hover{
    cursor: pointer;
}

#addAlumno{
    font-size: 2.5vh;
    height: 3vh;
    width: 30%;
    align-self: center;
    justify-self: center;
    margin-bottom: 1.3%;
}

a:hover{
    cursor: pointer;
}

#form_alumno{
    order: 6;
}
#form_alumno_del{
    order: 7;
}
#form_alumno input{
    justify-self: center;
    align-self: center;
    font-size: 2vh;
    height: 2.5vh;
}
#form_alumno_del input{
    justify-self: center;
    align-self: center;
    font-size: 2vh;
    height: 2.5vh;
}
#contenido{
    display: grid;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1%;
    width: 100%;
}
#editar{
    width: 10vh;
}
.alumno{
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}
.rojo{
    justify-self: center;
    align-self: center;
    color: red;
    font-weight: bold;
    order: 1;
}
.azul{
    justify-self: center;
    align-self: center;
    color: blue;
    font-weight: bold;
    order: 2;
}
.amarillo{
    justify-self: center;
    align-self: center;
    color: rgb(201, 130, 0);
    font-weight: bold;
    order: 3;
}
.verde{
    justify-self: center;
    align-self: center;
    color: green;
    font-weight: bold;
    order: 4;
}
.preguntas{
    justify-self: center;
    align-self: center;
    order: 5;
    color: indigo;
    font-weight: bold;
}
.atras{
    width: 90%;
    font-size: 2vh;
    height: 3vh;
}


@media only screen and (min-width: 1433px) and (max-width: 1585px){
    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/4;
        font-size: 3.5vh;
        justify-self: center;
    }

    .rojo{
        grid-row-start: 2;
    }
    .azul{
        grid-row-start: 2;
    }
    .amarillo{
        grid-row-start: 2;
    }
    .verde{
        grid-row-start: 2;
    }
    .preguntas{
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 4;
    }
    #form_alumno_del {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .atras{
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){

    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/4;
        font-size: 3.5vh;
        justify-self: center;
    }

    .rojo{
        grid-row-start: 2;
    }
    .azul{
        grid-row-start: 2;
    }
    .amarillo{
        grid-row-start: 2;
    }
    .verde{
        grid-row-start: 2;
    }
    .preguntas{
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 4;
    }
    #form_alumno_del {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .atras{
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){
    
    
    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/4;
        font-size: 3.5vh;
        justify-self: center;
    }

    .rojo{
        grid-row-start: 2;
    }
    .azul{
        grid-row-start: 2;
    }
    .amarillo{
        grid-row-start: 2;
    }
    .verde{
        grid-row-start: 2;
    }
    .preguntas{
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 4;
    }
    #form_alumno_del {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .atras{
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}

@media only screen and (min-width: 901px) and (max-width: 1058px){
    
    

    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/4;
        font-size: 3.5vh;
        justify-self: center;
    }

    .rojo{
        grid-row-start: 2;
    }
    .azul{
        grid-row-start: 2;
    }
    .amarillo{
        grid-row-start: 2;
    }
    .verde{
        grid-row-start: 2;
    }
    .preguntas{
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 4;
    }
    #form_alumno_del {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .atras{
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
}

@media only screen and (min-width: 735px) and (max-width: 900px){
    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    

    #contenido{
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    tr#contenido{
        display:none;
    }

    .alumno{
        grid-column: 1/4;
        font-size: 3.5vh;
        justify-self: center;
    }

    .rojo{
        grid-row-start: 2;
    }
    .azul{
        grid-row-start: 2;
    }
    .amarillo{
        grid-row-start: 2;
    }
    .verde{
        grid-row-start: 2;
    }
    .preguntas{

        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 4;
    }
    #form_alumno_del {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .atras{
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
}

@media only screen and (min-width: 577px) and (max-width: 734px){

    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    

    #contenido{
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    tr#contenido{
        display:none;
    }

    .alumno{
        grid-column: 1/4;
        font-size: 3.5vh;
        justify-self: center;
    }

    .rojo{
        grid-row-start: 2;
    }
    .azul{
        grid-row-start: 2;
    }
    .amarillo{
        grid-row-start: 2;
    }
    .verde{
        grid-row-start: 2;
    }
    .preguntas{

        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 4;
    }
    #form_alumno_del {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .atras{
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
    
}

@media only screen and (max-width:576px){

    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    tbody>tr:first-of-type{
        display:none;
    }

    th{
        font-size: 1.3vh;
        display: none;
        border: 0px;
    }

    td{
        margin: auto 1% 2% 1%;
    }

    #contenido{
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
        grid-column-gap: 0%;
        padding-bottom: 0;
    }

    .alumno{
        grid-column: 1/4;
        font-size: 3.5vh;
        justify-self: center;
    }

    .rojo{
        grid-row-start: 2;
    }
    .azul{
        grid-row-start: 2;
    }
    .amarillo{
        grid-row-start: 2;
    }
    .verde{
        grid-row-start: 2;
    }
    .preguntas{
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 4;
    }
    #form_alumno_del {
        justify-self: center;
        align-self: center;
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .atras{
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}