@import 'estilo_fijo.css';

h1{
    order: 1;
    align-self: center;
    margin-top: 5%;
}
#addDocente{
    order: 2;
    align-self: center;
    margin-top: 5%;
    width: 100%;
}
#addDocente>input[type="submit"]{
    width: 60%;
    font-size: 2vh;
    height: 3vh;
    margin-left: 20%;
}
#addDocente>input[type="button"]{
    width: 60%;
    font-size: 2vh;
    height: 3vh;
    margin-left: 20%;
    margin-top: 1% ;
}
#contenido{
    margin-left: 2vh;
    order: 3;
}
#contenido>h1{
    margin-left: 35%;
    margin-bottom: 2%;
}
#docentes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 2%;
}
#docentes>form>input[type="submit"]{
    width: 70%;
}
.atras{
    margin-top: 30vh;
    margin-left: 5vh;
    width: 90%;
    font-size: 2vh;
    height: 3vh;
}

@media only screen and (min-width: 1433px) and (max-width: 1585px){
    h1{
        order: 1;
        align-self: center;
        margin-top: 5%;
    }
    #addDocente{
        order: 2;
        align-self: center;
        margin-top: 5%;
        width: 100%;
    }
    #addDocente>input[type="submit"]{
        width: 60%;
        font-size: 2vh;
        height: 3vh;
        margin-left: 20%;
    }
    #contenido{
        margin-left: 2vh;
        order: 3;
    }
    #contenido>h1{
        margin-left: 35%;
        margin-bottom: 2%;
    }
    #docentes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 2%;
    }
    #docentes>form>input[type="submit"]{
        width: 70%;
    }
    .atras{
        margin-top: 30vh;
        margin-left: 5vh;
        width: 90%;
        font-size: 2vh;
        height: 3vh;
    }
    
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){
 
    h1{
        order: 1;
        align-self: center;
        margin-top: 5%;
    }
    #addDocente{
        order: 2;
        align-self: center;
        margin-top: 5%;
        width: 100%;
    }
    #addDocente>input[type="submit"]{
        width: 60%;
        font-size: 2vh;
        height: 3vh;
        margin-left: 20%;
    }
    #contenido{
        margin-left: 2vh;
        order: 3;
    }
    #contenido>h1{
        margin-left: 35%;
        margin-bottom: 2%;
    }
    #docentes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 2%;
    }
    #docentes>form>input[type="submit"]{
        width: 70%;
    }
    .atras{
        margin-top: 30vh;
        margin-left: 5vh;
        width: 90%;
        font-size: 2vh;
        height: 3vh;
    }
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){

    h1{
        order: 1;
        align-self: center;
        margin-top: 5%;
    }
    #addDocente{
        order: 2;
        align-self: center;
        margin-top: 5%;
        width: 100%;
    }
    #addDocente>input[type="submit"]{
        width: 60%;
        font-size: 2vh;
        height: 3vh;
        margin-left: 20%;
    }
    #contenido{
        margin-left: 2vh;
        order: 3;
    }
    #contenido>h1{
        margin-left: 35%;
        margin-bottom: 2%;
    }
    #docentes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 2%;
    }
    #docentes>form>input[type="submit"]{
        width: 70%;
    }
    .atras{
        margin-top: 30vh;
        margin-left: 5vh;
        width: 90%;
        font-size: 2vh;
        height: 3vh;
    }
}

@media only screen and (min-width: 734px) and (max-width: 1058px){
    
    
    h1{
        order: 1;
        align-self: center;
        margin-top: 5%;
    }
    #addDocente{
        order: 2;
        align-self: center;
        margin-top: 5%;
        width: 100%;
    }
    #addDocente>input[type="submit"]{
        width: 60%;
        font-size: 2vh;
        height: 3vh;
        margin-left: 20%;
    }
    #contenido{
        margin-left: 2vh;
        order: 3;
    }
    #contenido>h1{
        margin-left: 15%;
        margin-bottom: 2%;
    }
    #docentes{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr  1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 2%;
    }
    #docentes>form>input[type="submit"]{
        width: 70%;
        margin-left: 5%;
    }

    
    .atras{
        order: 4;
        margin-top: 20%;
        width: 60%;
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
    
}

@media only screen and (min-width: 577px) and (max-width: 733px){
    
   

    h1{
        order: 1;
        align-self: center;
        margin-top: 5%;
    }
    #addDocente{
        order: 2;
        align-self: center;
        margin-top: 5%;
        width: 100%;
    }
    #addDocente>input[type="submit"]{
        width: 60%;
        font-size: 2vh;
        height: 3vh;
        margin-left: 20%;
    }
    #contenido{
        margin-left: 2vh;
        order: 3;
    }
    #contenido>h1{
        margin-left: 15%;
        margin-bottom: 2%;
    }
    #docentes{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr  1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 2%;
    }
    #docentes>form>input[type="submit"]{
        width: 70%;
        margin-left: 5%;
    }

    
    .atras{
        order: 4;
        margin-top: 20%;
        width: 60%;
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}

@media only screen and (max-width:576px){
    
    h1{
        order: 1;
        align-self: center;
        margin-top: 5%;
    }
    #addDocente{
        order: 2;
        align-self: center;
        margin-top: 5%;
        width: 100%;
    }
    #addDocente>input[type="submit"]{
        width: 60%;
        font-size: 2vh;
        height: 3vh;
        margin-left: 20%;
    }
    #contenido{
        margin-left: 2vh;
        order: 3;
    }
    #contenido>h1{
        margin-left: 15%;
        margin-bottom: 2%;
    }
    #docentes{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr  1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 2%;
    }
    #docentes>form>input[type="submit"]{
        width: 70%;
        margin-left: 5%;
    }

    
    .atras{
        order: 4;
        margin-top: 20%;
        width: 60%;
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}