@import 'estilo_fijo.css';


.invisible{
    display: none;
}

.rotar{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.titulo{
    padding-top: 10vh;
    text-align: center;
    padding-bottom: 5%;
    font-size: 5vh;
}
#addAlumno{
    margin-left: 5vh;
    font-size: 2.5vh;
    height: 3vh;
    width: 90%;
}

a:hover{
    cursor: pointer;
}

#form_alumno{
    order: 6;
}
#form_alumno_del{
    order: 7;
}
#form_alumno input{
    margin-left: 5vh;
    font-size: 2vh;
    height: 2.5vh;
}
#form_alumno_del input{
    margin-left: 5vh;
    font-size: 2vh;
    height: 2.5vh;
}
#contenido{
    padding-left: 5vh;
    display: grid;
    padding-top: 5vh;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}
#editar{
    width: 10vh;
}
.alumno{
    grid-column-start: 2;
}
.rojo{
    color: red;
    margin-left: 5vh;
    order: 1;
}
.azul{
    color: blue;
    margin-left: 5vh;
    order: 2;
}
.amarillo{
    color: orange;
    margin-left: 5vh;
    order: 3;
}
.verde{
    color: green;
    margin-left: 5vh;
    order: 4;
}
.preguntas{
    margin-left: 5vh;
    order: 5;
    color: indigo;
}
.atras{
    margin-top: 25%;
    margin-left: 5vh;
    width: 90%;
    font-size: 2vh;
    height: 3vh;
}
@media only screen and (min-width: 1433px) and (max-width: 1585px){
    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        margin-left: 20%;
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        padding-left: 5vh;
        margin-top: 15%;
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/6;
        font-size: 3.5vh;
        justify-self: center;
        margin-bottom: 2vh;
    }

    .rojo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .azul{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .amarillo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .verde{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .preguntas{
        margin-left: 2vh;
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    #form_alumno_del {
        grid-row-start: 3;
        grid-column-start: 4;
    }
    .atras{
        margin-left: 15%;
        margin-top: 15%;
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){

    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        margin-left: 20%;
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        padding-left: 5vh;
        margin-top: 15%;
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/6;
        font-size: 3.5vh;
        justify-self: center;
        margin-bottom: 2vh;
    }

    .rojo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .azul{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .amarillo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .verde{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .preguntas{
        margin-left: 2vh;
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    #form_alumno_del {
        grid-row-start: 3;
        grid-column-start: 4;
    }
    .atras{
        margin-left: 15%;
        margin-top: 15%;
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){
    
    
    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        margin-left: 20%;
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        padding-left: 5vh;
        margin-top: 15%;
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/6;
        font-size: 3.5vh;
        justify-self: center;
        margin-bottom: 2vh;
    }

    .rojo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .azul{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .amarillo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .verde{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .preguntas{
        margin-left: 2vh;
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    #form_alumno_del {
        grid-row-start: 3;
        grid-column-start: 4;
    }
    .atras{
        margin-left: 15%;
        margin-top: 15%;
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}

@media only screen and (min-width: 734px) and (max-width: 1058px){
    
    

    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        margin-left: 20%;
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        padding-left: 5vh;
        margin-top: 15%;
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/6;
        font-size: 3.5vh;
        justify-self: center;
        margin-bottom: 2vh;
    }

    .rojo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .azul{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .amarillo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .verde{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .preguntas{
        margin-left: 2vh;
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    #form_alumno_del {
        grid-row-start: 3;
        grid-column-start: 4;
    }
    .atras{
        margin-left: 15%;
        margin-top: 15%;
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
}

@media only screen and (min-width: 577px) and (max-width: 734px){
    
    
    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        margin-left: 20%;
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        padding-left: 5vh;
        margin-top: 15%;
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/6;
        font-size: 3.5vh;
        justify-self: center;
        margin-bottom: 2vh;
    }

    .rojo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .azul{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .amarillo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .verde{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .preguntas{
        margin-left: 2vh;
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    #form_alumno_del {
        grid-row-start: 3;
        grid-column-start: 4;
    }
    .atras{
        margin-left: 15%;
        margin-top: 15%;
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
}

@media only screen and (max-width:576px){
    
    

    #titulo{
        padding-top: 5vh;
        text-align: center;
        width: 100%;
        padding-bottom: 10vh;
        font-size: 5vh;
    }

    #addAlumno{
        margin-left: 20%;
        font-size: 2vh;
        height: 3vh;
        width: 70%;
    }

    #contenido{
        padding-left: 5vh;
        margin-top: 15%;
        display: grid;
        padding-top: 0vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
    }

    .alumno{
        grid-column: 1/6;
        font-size: 3.5vh;
        justify-self: center;
        margin-bottom: 2vh;
    }

    .rojo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .azul{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .amarillo{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .verde{
        margin-left: 2vh;
        grid-row-start: 2;
    }
    .preguntas{
        margin-left: 2vh;
        grid-row-start: 2;
        color: indigo;
    }

    #form_alumno input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno_del input{
        margin-left: 0vh;
        font-size: 1.5vh;
        height: 2.5vh;
    }
    #form_alumno {
        grid-row-start: 3;
        grid-column-start: 2;
    }
    #form_alumno_del {
        grid-row-start: 3;
        grid-column-start: 4;
    }
    .atras{
        margin-left: 15%;
        margin-top: 15%;
        width: 75%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}