@import 'estilo_fijo.css';

h1{
    order: 1;
    width: 100%;
    text-align: center;
    margin-top: 15vh;
}
#formulario{
    margin-top: 10vh;
    order: 2;
 
}

form{
    display: grid;
    padding-top: 5vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 3vh;
}
form>label{
    font-size: 3vh;
}
form>input{
    height: 1vh;
}
form>input[type="submit"]{
    width: 30%;
    justify-self: center;
    grid-column: 1/3;
    height: 3vh;
    margin-top: 5vh;
}
.segundos{
    justify-self: left;
    grid-column-start: 2;
}
.primeros{
    justify-self: right;
    margin-right: 2%;
}
form>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1433px) and (max-width: 1585px){
    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 15vh;
    }
    #formulario{
        margin-top: 10vh;
        order: 2;
     
    }
    
    form{
        display: grid;
        padding-top: 5vh;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 5fr 1fr 5fr;
        font-size: 3vh;
    }
    form>label{
        font-size: 3vh;
    }
    form>input{
        height: 1vh;
    }
    form>input[type="submit"]{
        width: 100%;
        grid-column-start: 2;
        height: 3vh;
        margin-top: 5vh;
    }
    .segundos{
        justify-self: left;
        grid-column-start: 3;
    }
    .primeros{
        justify-self: right;
    }
    form>div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .atras{
        align-self: center;
        order: 3;
        width: 40%;
        margin-top: 15vh;
        height: 3vh;
    }
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .addPreguntas{
        margin-top: 5vh;
        margin-left: 7vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 20vh;
        width: 90%;
        font-size: 3.5vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){
    
    .propGrupos{
        margin-top: 15vh;
        width: 75%;
        font-size: 2vh;
        height: 5vh;
    }
    .verGrupos{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verAlumno{
        margin-top: 5vh;
        margin-left: 2vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .verClases{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminProf{
        margin-top: 5vh;
        margin-left: 2vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .adminCentro{
        margin-top: 5vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .addPreguntas{
        margin-top: 5vh;
        margin-left: 2vh;
        width: 35%;
        font-size: 2vh;
        height: 5vh;
    }
    .salir{
        margin-top: 20vh;
        width: 90%;
        font-size: 3.5vh;
        height: 5vh;
    }
    
}

@media only screen and (min-width: 734px) and (max-width: 1058px){

    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 15vh;
    }
    #formulario{
        margin-top: 10vh;
        order: 2;
    }
    
    form{
        display: grid;
    padding-top: 5vh;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 3vh;
    }
    form>label{
        font-size: 3vh;
    }
    form>input{
        height: 1vh;
    }
    form>input[type="submit"]{
        width: 30%;
        justify-self: center;
        height: 3vh;
        margin-top: 5vh;
    }
    .segundos{
        justify-self: center;
        grid-column-start: 1;
        margin-top: 2%;
    }
    .primeros{
        justify-self: center;
        grid-column-start: 1;
        margin-top: 2%;
    }
    form>div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 577px) and (max-width: 734px){

    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 15vh;
    }
    #formulario{
        margin-top: 10vh;
        order: 2;
    }
    
    form{
        display: grid;
        padding-top: 5vh;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        font-size: 3vh;
    }
    form>label{
        font-size: 3vh;
    }
    form>input{
        height: 1vh;
    }
    form>input[type="submit"]{
        width: 30%;
        justify-self: center;
        height: 3vh;
        margin-top: 5vh;
    }
    .segundos{
        justify-self: center;
        grid-column-start: 1;
        margin-top: 2%;
    }
    .primeros{
        justify-self: center;
        grid-column-start: 1;
        margin-top: 2%;
    }
    form>div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width:576px){

    

    h1{
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 15vh;
    }
    #formulario{
        margin-top: 10vh;
        order: 2;
    }
    
    form{
        display: grid;
        padding-top: 5vh;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        font-size: 3vh;
    }
    form>label{
        font-size: 3vh;
    }
    form>input{
        height: 1vh;
    }
    form>input[type="submit"]{
        width: 30%;
        justify-self: center;
        height: 3vh;
        margin-top: 5vh;
    }
    .segundos{
        justify-self: center;
        grid-column-start: 1;
        margin-top: 2%;
    }
    .primeros{
        justify-self: center;
        grid-column-start: 1;
        margin-top: 2%;
    }
    form>div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

