@import 'estilo_fijo.css';

h1{
    order: 1;
    align-self: center;
    font-size: 5vh;
    margin-top: 2vh;
}
#addCentro{
    order: 2;
    margin-top: 5%;
    align-self: center;
    width: 100%;
}
#addCentro>input[type="submit"]{
    margin-left: 20%;
    font-size: 2.5vh;
    height: 3vh;
    width: 60%;
}
#cursos{
    order: 3;
    margin-top: 5%;
    margin-left: 2%;
    display: grid;
    grid-template-rows: 1fr;
}
#curso{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 5%;
}
#curso>h2{
    grid-column-start: 2;
}
#curso>form>input[type="submit"]{
    grid-column-start: 3;
    width: 90%;
}
.atras{
    order: 4;
    margin-top: 25%;
    width: 60%;
    margin-left: 20%;
    font-size: 2.5vh;
    height: 3vh;
}


@media only screen and (min-width: 1433px) and (max-width: 1585px){


    h1{
    order: 1;
    align-self: center;
    font-size: 5vh;
    margin-top: 2vh;
}
#addCentro{
    order: 2;
    margin-top: 5%;
    align-self: center;
    width: 100%;
}
#addCentro>input[type="submit"]{
    margin-left: 20%;
    font-size: 2.5vh;
    height: 3vh;
    width: 60%;
}
#cursos{
    order: 3;
    margin-top: 5%;
    margin-left: 2%;
    display: grid;
    grid-template-rows: 1fr;
}
#curso{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 5%;
}
#curso>form>input[type="submit"]{
    width: 90%;
}
.atras{
    order: 4;
    margin-top: 25%;
    width: 60%;
    margin-left: 20%;
    font-size: 2.5vh;
    height: 3vh;
}
    
}

@media only screen and (min-width: 1381px) and (max-width: 1432px){
 
    h1{
    order: 1;
    align-self: center;
    font-size: 5vh;
    margin-top: 2vh;
}
#addCentro{
    order: 2;
    margin-top: 5%;
    align-self: center;
    width: 100%;
}
#addCentro>input[type="submit"]{
    margin-left: 20%;
    font-size: 2.5vh;
    height: 3vh;
    width: 60%;
}
#cursos{
    order: 3;
    margin-top: 5%;
    margin-left: 2%;
    display: grid;
    grid-template-rows: 1fr;
}
#curso{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 5%;
}
#curso>form>input[type="submit"]{
    width: 90%;
}
.atras{
    order: 4;
    margin-top: 25%;
    width: 60%;
    margin-left: 20%;
    font-size: 2.5vh;
    height: 3vh;
}
    
}

@media only screen and (min-width: 1059px) and (max-width: 1381px){

    

    h1{
        order: 1;
        align-self: center;
        font-size: 5vh;
        margin-top: 2vh;
    }
    #addCentro{
        order: 2;
        margin-top: 5%;
        align-self: center;
        width: 100%;
    }
    #addCentro>input[type="submit"]{
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    #cursos{
        order: 3;
        margin-top: 5%;
        margin-left: 2%;
        display: grid;
        grid-template-rows: 1fr;
    }
    #curso{
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 5%;
    }
    #curso>form>input[type="submit"]{
        width: 90%;
    }
    .atras{
        order: 4;
        margin-top: 50vh;
        width: 60%;
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
}

@media only screen and (min-width: 734px) and (max-width: 1058px){
    
    

    h1{
        order: 1;
        align-self: center;
        font-size: 5vh;
        margin-top: 2vh;
    }
    #addCentro{
        order: 2;
        margin-top: 5%;
        align-self: center;
        width: 100%;
    }
    #addCentro>input[type="submit"]{
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    #cursos{
        order: 3;
        margin-top: 5%;
        margin-left: 2%;
        display: grid;
        grid-template-rows: 1fr;
    }
    #curso{
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 5%;
    }
    #curso>form>input[type="submit"]{
        width: 90%;
    }
    .atras{
        order: 4;
        margin-top: 50vh;
        width: 60%;
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
    
}

@media only screen and (min-width: 577px) and (max-width: 733px){
    
   

    h1{
        order: 1;
        align-self: center;
        font-size: 5vh;
        margin-top: 2vh;
    }
    #addCentro{
        order: 2;
        margin-top: 5%;
        align-self: center;
        width: 100%;
    }
    #addCentro>input[type="submit"]{
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    #cursos{
        order: 3;
        margin-top: 5%;
        margin-left: 2%;
        display: grid;
        grid-template-rows: 1fr;
    }
    #curso{
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 5%;
    }
    #curso>form>input[type="submit"]{
        width: 90%;
    }
    .atras{
        order: 4;
        margin-top: 50vh;
        width: 60%;
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
    
}

@media only screen and (max-width:576px){
    h1{
        order: 1;
        align-self: center;
        font-size: 5vh;
        margin-top: 2vh;
    }
    #addCentro{
        order: 2;
        margin-top: 5%;
        align-self: center;
        width: 100%;
    }
    #addCentro>input[type="submit"]{
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
        width: 60%;
    }
    #cursos{
        order: 3;
        margin-top: 5%;
        margin-left: 2%;
        display: grid;
        grid-template-rows: 1fr;
    }
    #curso{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 5%;
    }
    #curso>form>input[type="submit"]{
        width: 90%;
    }
    #curso>h2{
        grid-column:1/3;
    }
    .atras{
        order: 4;
        margin-top: 50vh;
        width: 60%;
        margin-left: 20%;
        font-size: 2.5vh;
        height: 3vh;
    }
    
}